html {
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
}
p {
	margin: 0;
}

.card {
	padding: 1rem 1.5rem;
	background: #ffffff;
	border: 1px solid #e2e7ef;
	border-radius: 0.2rem;
}

.item-1-upper {
	height: fit-content;
	p {
		font-size: 1rem;
		font-weight: 400;
		color: #636a75;
	}
}

.lower-left {
	p {
		font-weight: 700;
		font-size: 1.5rem;
		color: #660099;
	}
}

.lower-right {
	background: #e0f2ee;
	border-radius: 0.1rem;
	height: 1.8rem;
	p {
		font-weight: 700;
		font-size: 1rem;
		text-align: center;
		color: #36947d;
	}
}

.red {
	background: rgba(225, 38, 38, 0.1);
	p {
		color: #e12626;
	}
}

.card-item-3 {
	min-height: 54px;
	p {
		padding: 0.2rem;
		font-weight: 400;
		font-size: 1rem;
		text-align: center;
		color: #2f54eb;
	}
}
