html {
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
}

th.mat-sort-header-sorted {
	color: black;
}

.mat-table {
	width: 100%;
	height: 100%;
}
.hidden {
	display: none;
}

.mat-body p,
.mat-body-1 p,
::ng-deep.mat-typography p {
	margin: revert !important;
}

.mat-header-cell {
	color: #333333;
	font-weight: 600;
	font-size: 1rem;
}

.mat-cell {
	color: #594e4e;
	font-weight: 400;
	font-size: 1rem;
}
.mat-column-select {
	overflow: initial;
}

.RCA-cell {
	p {
		padding-left: 1rem;
	}
}

.mat-paginator-sticky {
	bottom: 0;
	position: sticky;
	z-index: 10;
}
