::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
	flex-flow: nowrap row !important;
	-webkit-flex-direction: row-reverse !important;
	flex-direction: row-reverse !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
	display: flex;
	background: #e6e6e6;
	border-radius: 4px;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
	order: 2;
	border-left: 0;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right:hover {
	background: #e6e6e6;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
	order: 1;
	padding: 1px 3px;
	color: #000000;
}

::ng-deep .ng-select.insertSearchIcon.ng-select-multiple .ng-select-container .ng-arrow-wrapper .ng-arrow,
::ng-deep .ng-select.insertSearchIcon.ng-select-single .ng-select-container .ng-arrow-wrapper .ng-arrow {
	border-color: none;
	border-style: none;
	border-width: 0;
}

::ng-deep .ng-select.insertSearchIcon.ng-select-multiple .ng-select-container .ng-arrow-wrapper,
::ng-deep .ng-select.insertSearchIcon.ng-select-single .ng-select-container .ng-arrow-wrapper {
	background-image: url('https://assets.dds.iata.org/assets/icons/SearchIcon.svg');
	background-repeat: no-repeat;
	background-size: 14px 14px;
	margin-top: 6px;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
	top: 8px;
	left: 5px;
}

::ng-deep .multiselect-autocomplete.ng-select .ng-select-container {
	overflow: inherit !important;
}

::ng-deep .multiselect-autocomplete .exclude-items-container {
	display: none;
	position: absolute;
	justify-content: space-between;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	left: auto;
	right: -20px;
	top: 30px;
	z-index: 9999;
}

::ng-deep .multiselect-autocomplete .ng-value.item-length .inner-wrap {
	position: relative;
}

::ng-deep .multiselect-autocomplete .ng-value.item-length {
	cursor: pointer;
	z-index: 9;
}

::ng-deep .multiselect-autocomplete .ng-value.item-length:hover .exclude-items-container {
	display: flex;
}

::ng-deep .exclude-items-container > ul.items-other {
	padding: 0.1rem;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 8px;
	box-shadow: 0px 0px 4px 0px #c3c3c3;
	color: #fff;
	min-width: 153px;
}

::ng-deep .exclude-items-container > ul.items-other:after {
	position: absolute;
	content: ' ';
	top: -8px;
	right: 14%;
	margin-left: -4px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(0, 0, 0, 0.8);
}

::ng-deep .exclude-items-container > ul.items-other li > span {
	font-size: 12px;
}

::ng-deep .exclude-items-container > ul.items-other li {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 8px 0px;
}

::ng-deep .exclude-items-container > ul.items-other li span {
	margin-left: 0.2rem;
}

::ng-deep .exclude-items-container > .tags.tags-blue:hover ~ ul.items-other {
	display: flex;
	flex-direction: column;
}

::ng-deep .exclude-items-container ul.items-other .items-title {
	word-break: break-word;
	min-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 22px;
	margin-left: 0px;
	text-overflow: ellipsis;
	margin-right: 4px;
}

::ng-deep .exclude-items-container .tags {
	width: 24px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	font-size: 9.6px !important;
	border-radius: 50px;
}

::ng-deep .exclude-items-container .tags.tags-red {
	color: #b34195;
	background-color: #fdeef9;
}

::ng-deep .exclude-items-container .tags.tags-green {
	color: #23702a;
	background-color: #eaf4eb;
}

::ng-deep .exclude-items-container .tags.tags-purple {
	color: #511c8e;
	background-color: #efe9f5;
}

::ng-deep .exclude-items-container .tags.tags-blue {
	width: 30px;
	height: 30px;
	color: #0f197b;
	font-weight: 500;
	font-size: 12px !important;
	line-height: 30px;
	margin-top: -4px;
	background-color: #f4f5ff;
}

.option-label-size {
	font-size: 12px;
}

.option-line-height {
	line-height: 10px;
}

.item-length {
	position: absolute;
	right: 45px;
}

.wrap-text {
	display: block;
	white-space: nowrap;
	width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.initial {
	display: none;
}

.with-initial .initial {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background-color: #fdeef9;
	color: #c162a8;
	font-size: 7px;
	padding: 0;
	height: 18px;
	width: 18px;
	margin: 2px;
	font-style: normal;
	overflow: hidden;
}

.with-initial .ng-value {
	justify-content: center;
	align-items: center;
	border: 1px solid #0f197b;
	border-radius: 50px !important;
	background: #fff !important;
}

.with-initial .ng-value .ng-value-label {
	display: flex;
}

.with-initial .item-length {
	background-color: #f4f5ff !important;
	border-color: #f4f5ff;
	font-size: 10px !important;
	min-width: 27px;
}

.with-initial .ng-value.item-length .ng-value-label {
	padding: 0;
	color: #0f197b;
}

.with-initial .ng-value .ng-value-icon.right {
	background-color: #0f197b;
	border-radius: 50px;
	color: #fff;
	width: 14px;
	height: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
	font-size: 13px;
	padding: 0;
}

.option-line-height-code {
	font-weight: 400;
	font-size: 13px;
	margin-top: 2px;
}

.user-detail {
	display: flex;
	margin-right: 2em;
}

@media (max-width: 480px) {
	.with-initial .item-length {
		right: 30px;
	}
}
