<ng-container *ngIf="!showCustomOption" >
  <ng-select (add)="onAddValue($event)" (change)="onChangeValue($event)" (paste)="onPasteSearch($event)"
    (remove)="onRemoveValue($event)" (search)="onSearchValue($event)" [(ngModel)]="selectedDropdownlist"
    [addTag]="addTag" [bindLabel]="bindLabel" [items]="dropdownlist" [multiple]="multiselect"
    [ngClass]="{classes: true,insertSearchIcon:customDropdownIcon}" [placeholder]="placeholder" [virtualScroll]="true"
    [readonly]="disableInput" class="multiselect-autocomplete" [ngStyle]="{'font-family':fontFamily }">
    <ng-template let-clear="clear" let-items="items" ng-multi-label-tmp>
      <div class="user-detail">
        <div *ngFor="let item of items | slice:0:itemsLimit" class="ng-value">
          <span class="ng-value-label" title="{{$any(item)[bindLabelArray[0]]}}"
            [ngClass]="{'wrap-text':$any(item)[bindLabelArray[0]].length>4}"><em class="initial">
              {{$any(item).symbol}}</em>
            <span>{{$any(item)[bindLabelArray[0]]}}</span></span>
          <span (click)="clear(item)" aria-hidden="true" class="ng-value-icon right">×</span>
        </div>
      </div>
      <div *ngIf="items.length > itemsLimit" class="ng-value item-length">
        <div class="inner-wrap">
          <span class="ng-value-label">+{{items.length - itemsLimit}}</span>
          <div class="exclude-items-container">
            <ul class="items-other">
              <li *ngFor="let item of items | slice:itemsLimit">
                <div class="d-flex">
                  <span *ngIf="withLimitInitial" class="tags tags-green mr-2">{{$any(item).symbol}}</span><span
                    class="items-title">{{$any(item)[bindLabelArray[0]]}}</span>
                  <span (click)="clear(item)" aria-hidden="true" class="ng-value-icon right">×</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-select>
</ng-container>
<ng-container *ngIf="showCustomOption">
  <ng-select (change)="onAutoCompleteChange($event)" (click)="onOptionSelected($event)" (paste)="onPasteSearch($event)"
    (search)="onDropdownSearch($event)" [(ngModel)]="selectedDropdownlist" [bindLabel]="bindLabel"
    [items]="dropdownlist" [multiple]="multiselect" [ngClass]="{classes: true,insertSearchIcon:customDropdownIcon}"
    [placeholder]="placeholder" [searchFn]="customSearch" [searchWhileComposing]="false" [virtualScroll]="true"
    class="multiselect-autocomplete" [ngStyle]="{'font-family':fontFamily }">
    <ng-template #labelTemplate *ngIf="showCustomOption" let-item="item" ng-option-tmp>
      <div class="option-line-height">
        <div>
          <h6 class="font-weight-bold d-flex">{{item[bindLabelArray[0]]}}
            <span *ngIf="multiLabelBinding && bindLabelArray?.length > 1" class="ml-2 option-line-height-code">({{
              item[bindLabelArray[1]] }})</span>
          </h6>
        </div>
        <span class="option-label-size">{{ item[bindLabelArray[2]] }}</span>
      </div>
    </ng-template>
    <ng-template let-clear="clear" let-items="items" ng-multi-label-tmp>
      <div class="user-detail">
        <div *ngFor="let item of items | slice:0:itemsLimit" class="ng-value">
          <span class="ng-value-label" title="{{$any(item)[bindLabelArray[0]]}}"
            [ngClass]="{'wrap-text':$any(item)[bindLabelArray[0]].length>4}"><em class="initial">
              {{$any(item).symbol}}</em>
            <span>{{$any(item)[bindLabelArray[0]]}}</span></span>
          <span (click)="clear(item)" aria-hidden="true" class="ng-value-icon right">×</span>
        </div>
      </div>
      <div *ngIf="items.length > itemsLimit" class="ng-value item-length">
        <div class="inner-wrap">
          <span class="ng-value-label">+{{items.length - itemsLimit}}</span>
          <div class="exclude-items-container">
            <ul class="items-other">
              <li *ngFor="let item of items | slice:itemsLimit">
                <div class="d-flex">
                  <span *ngIf="withLimitInitial" class="tags tags-green mr-2">{{$any(item).symbol}}</span><span
                    class="items-title">{{$any(item)[bindLabelArray[0]]}}</span>
                  <span (click)="clear(item)" aria-hidden="true" class="ng-value-icon right">×</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-select>
</ng-container>
